<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>鑫麦郎食品管理系统</title>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="logo_box">
		<h1>Hello World</h1>
		<form action="login" method="post" autocomplete="off">
			<div class="input_outer">
				<i class="fa fa-user-o u_user"></i>
				<input required="required" name="userName" class="text" placeholder="输入账号" type="text">
			</div>
			<div class="input_outer">
				<i class="fa fa-user-o u_user"></i>
				<input required="required" name="password" class="text" placeholder="输入密码" type="password">
			</div>
			<div class="mb2">
				<button class="act-but submit" style="color:#FFFFFF">登陆</button>
				<div class="actions"><a href="">注册</a></div>
			</div>
		</form>
		<div th:if="${error} != null" th:text="${error}" style="text-align:center;padding:10px;">
			<!-- <div style="text-align:center;padding:10px;" th:text="${error}"></div> -->
		</div>
	</div>
</body>
</html>